/* ----------------------------
COMMON
----------------------------- */    
body{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.d-inline-block{
    display: inline-block;
}
.padding-10{
    padding: 10px;
}
.p-top-15{
    padding-top: .9375rem;
}
.p-right-5{
    padding-right: .3125rem;
}
.m-22-10{
    margin: 22px 10px;
}
.m-top-94{
    margin-top: 5.875rem;
}
.m-top-15{
    margin-top: .9375rem;
}
.m-top-5{
    margin-top: 5px;
}
.m-bottom-15{
    margin-bottom: .9375rem;
}
.m-right-5{
    margin-right: .3125rem;
}
.m-right-10{
    margin-right: 10px;
}
.m-left-10{
    margin-left: 10px;
}
.m-right-20{
    margin-right: 20px;
}
.img-size{
    max-width: 140px;
    max-height: 45px ;
}
.width-15{
    width: 15%;
}
.width-70{
    width: 70%;
}
.album-size{
    width: 100%;
}
.width-45{
    width: 45px;
}
.v-align-bottom{
    vertical-align: bottom;
}
.d-none{
    display:none;
}
.list-inline{
    list-style: none;
}

/* ----------------------------
ICON 
----------------------------- */
.icon-size-sm{
    max-height: 15px;
    max-width: 15px;
}
.icon-size{
    max-height: 25px;
    max-width: 25px;
}
.bg-grey{
    background-color: #808080;
}
.bd-radius{
    border-radius: 50%;
}
hr{
    border: 1px solid #808080;
}
/* ----------------------------
FLEX 
----------------------------- */
.flex{
    display: flex;
}
.just-end{
    justify-content: flex-end;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.flex-grow{
    flex-grow: 1;
}
.f-wrap{
    flex-wrap: wrap;
}
.just-space-between{
    justify-content: space-between;
}
.a-items-center{
    align-items: center;
}
.just-center{
    justify-content: center;
}
/* ----------------------------
TYPO 
----------------------------- */
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.white-text{
    color: white;
}
.grey-text{
    color: #6d6d6d;
}
.font-weight{
    font-weight:bold;
}
.font-size{
    font-size: 1.25rem;
}

/* ----------------------------
BUTTON  
----------------------------- */
.btn{
    text-decoration: none;
}
.btn-grey{
    padding: .625rem;
    background-color:#a3a3a3;
    color: black;
}
.btn-big{
    padding: .9375rem 3.125rem .9375rem 3.125rem;
    border: 1px solid white;
    border-radius: 1.875rem;
    color: white;
}