footer{
    height: 90px;
    background-color: #282828;
}
footer .col-left{
    width: 230px;
}
.progress-area{
    height: 6px;
    width: 40%;
    border-radius: 50px;
    
}
.progress-area .progress-bar{
    height: inherit;
    width: 50%;
    border-radius: inherit;
    background-color: #adff2f;
}
/* ----------------------------
RESPONSIVE FOOTER
----------------------------- */
/* desktop */
@media screen and (max-width:1100px) {
    
}

/* tablet */
@media screen and (max-width:700px) {
   .width-70{
    width: 60%;
   }
   .width-15{
    width: 30%;
   }
   footer .col-left{
    width: 170px;
}
}

/* mobile */
@media screen and (max-width:600px) {
    
   
}