/* ----------------------------
MAIN
----------------------------- */
main{
    padding-top: 90px ;
    width: calc(100% - 230px);
    overflow-y: auto;
}
.page-container{
    display: flex;
    height: calc(100% - 90px);
    background-color: #141922;
}
nav ul{
    flex-wrap: wrap;
}

.album-col{
    width: calc((100% / 6));
}
/* ----------------------------
RESPONSIVE MAIN
----------------------------- */
/* desktop */
@media screen and (max-width:1100px) {
    .album-col{
        width: calc((100% / 4));
    }
}

/* tablet */
@media screen and (max-width:700px) {
    .album-col{
        width: calc((100% / 2));
    }
}

/* mobile */
@media screen and (max-width:600px) {
    main{
        padding-top: 90px ;
        width: calc(100% - 70px);
        overflow-y: auto;
    }
   
}