/* ----------------------------
SIDEBAR
----------------------------- */
aside{
    width: 230px;
    background-color: #000000;
}
.container-side-bar{
    color: white;
    margin: 1.25rem;
}
.container-side-bar .col{
    padding-bottom: 1.875rem;
}
/* ----------------------------
RESPONSIVE SIDEBAR
----------------------------- */
/* mobile */
@media screen and (max-width:600px) {
    .img-none{
        display: none;
    }
    .d-none{
        display: block;
    }
    .img-size{
        max-height: 30px;
        max-width: 30px;
    }
    aside{
        width: 70px;
    }
    .m-top-94{
        margin-top: 450px; 
    }
    
}